@model IEnumerable<try3.Models.Contactos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayName("Identificacion")
        </th>
        <th>
            @Html.DisplayName("Fecha Creacion")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdContacto }, new { @class = "waves-effect waves-light btn" }) 
            @Html.ActionLink("Details", "Details", new { id=item.IdContacto }, new { @class = "waves-effect waves-light btn" })
            @Html.ActionLink("Delete", "Delete", new { id=item.IdContacto }, new { @class = "waves-effect waves-light btn" })
        </td>
    </tr>
}

</table>
